.contact {
  margin-top: 180px;
}
.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}
.contact-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.contact-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.contact-card h4 {
  color: var(--purple-dark);
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 1022px) {
  .contact {
    margin-top: 50px;
  }
  .contact-row {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .contact-row {
    flex-direction: column;
  }
}
