.book-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
  max-width: 1340px;
  padding-inline: 20px;
  margin-inline: auto;
  padding-bottom: 100px;
}

.left-book {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.left-book h3 {
  color: var(--purple-dark);
  font-weight: 400;
  font-size: 16px;
}
.left-book h1 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 30px;
}
.left-book h2 {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}
.btn-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.btn-div button {
  width: 198px;
  height: 46px;
  border-radius: 100vh;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn-div button:first-of-type {
  background-color: var(--purple-medium);
  color: white;
}
.btn-div .inverse {
  background-color: transparent;
  color: var(--purple-medium);
  border-color: var(--purple-medium);
}
.btn-div .inverse:hover {
  background-color: var(--purple-medium);
  color: white;
}
.btn-div button:first-of-type:hover {
  background-color: transparent;
  color: var(--purple-medium);
  border-color: var(--purple-medium);
}
.btn-div p {
  color: var(--purple-medium);
  font-weight: 500;
  font-size: 16px;
  margin-left: 18px;
}
.btn-div svg {
  cursor: pointer;
}
.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 40px;
  margin-top: 25px;
  border-bottom: 1px solid #e9e9e9;
}
.tabs p {
  user-select: none;
  cursor: pointer;
  color: #505050;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  padding-bottom: 20px;
  opacity: 0.3;
}
.tabs .active-tab::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--purple-dark);
  height: 2px;
}
.tabs .active-tab {
  color: var(--purple-dark);
  font-weight: 600;
  opacity: 1;
}
.book-detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.book-detail > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.book-detail h3 {
  font-weight: 700;
  font-size: 24px;
  color: #32324d;
  margin-bottom: 24px !important;
}
.book-detail p {
  font-weight: 400;
  font-size: 16px;
  color: #505050;
}
.review-tab {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
}
.review-tab h4 {
  font-weight: 700;
  font-size: 24px;
  color: #32324d;
}
.review-tab h1 {
  font-weight: 700;
  font-size: 64px;
  color: #32324d;
  margin-top: 0px;
}
.review-tab .flex {
  gap: 10px;
}
.review-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.stars svg {
  font-size: 23px;
  color: #a3d951;
}
.review-col p {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}
.review-tab .flex {
  justify-content: flex-start;
}
.review-col .small {
  font-size: 14px;
}
.profile-review {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.profile-review img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.profile-review h5 {
  font-weight: 400;
  font-size: 16px;
  color: #252525;
}
.profile-review .small-star svg {
  font-size: 16px;
}
.right-book {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
}
.detail-slider li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-slider .splide__pagination {
  bottom: 2.5rem;
  gap: 10px;
}
.detail-slider .splide__pagination__page.is-active {
  opacity: 1 !important;
}
.detail-slider .splide__arrow {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  fill: white;
  width: 44px;
  height: 44px;
  transition: all 0.2s ease-in-out;
}
.detail-slider:hover .splide__arrow {
  opacity: 1;
}
.detail-slider .splide__arrow svg {
  fill: white;
}
.detail-slider img {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  cursor: pointer;
}
.suggested {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  width: 100%;
}
.suggested h2 {
  font-weight: 700;
  font-size: 24px;
  color: #32324d;
  margin-bottom: 20px !important;
}
.suggested-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
}
.suggested-book img {
  width: 112px;
  height: 152px;
}
.text-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  margin-left: 15px;
}
.text-col h6 {
  color: #252525;
  font-weight: 400;
  font-size: 16px;
}
.text-col h6:last-child {
  color: var(--gray);
}
.suggested-book svg {
  color: var(--purple-medium);
  font-size: 20px;
  cursor: pointer;
}
.larger-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.overlay-gallery {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  cursor: pointer;
}
.close-gal {
  color: white;
  font-size: 30px;
  position: absolute;
  top: -5%;
  right: 10%;
  z-index: 11;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .book-wrapper {
    margin-top: 120px;
  }
  .slider-col {
    margin-top: 80px;
  }
  .tabs {
    justify-content: center;
  }
  .book-detail {
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 50px;
  }
  .book-detail > div {
    align-items: center;
  }
  .suggested {
    margin-top: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 610px) {
  .btn-div {
    flex-wrap: wrap;
    justify-content: center;
  }
  .left-book {
    align-items: center;
  }
  .suggested-book .text-col {
    margin-left: 5px;
  }
  .suggested-book img {
    width: 80px;
    height: 100px;
  }
}
@media screen and (max-width: 438px) {
  .close-gal {
    right: 14%;
    display: block;
  }
}
